/*SWITCH TO BOOTSTRAP LATER*/

#big-fcs-logo {
    animation-duration: 3s;
    animation-name: rotate-logo;
    animation-iteration-count: infinite;
}

@keyframes rotate-logo {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}