//Custom Colors
$primary: #2660b0;
$secondary: #233043;
$light: #b9c0dc;
$dark: #3f3f3f;

// Import
@import 'bootstrap/scss/bootstrap.scss';

// Profile Picture
.userimg {
    background-color: $gray-400;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.25rem;
}

svg {
    max-width: 100%;
    max-height: 100%;
}