{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title %}ClubHub - {{current_club.name}} {% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="mt-3">{{current_club.name}}</h2>
            <hr>
            <p>{{current_club.desc}}</p>
            <h3>Leaders</h3>
            <div class=".row-cols-3">
            {% for member in members%}
                {% if member.isLeader%}
                <div class="col">{{profile(member.user)}}</div>
                {% endif %}
                {% else %}
                <p>No Leaders... is this Anarchy Club?</p>
            {% endfor %}
            </div>
            <h3>Members</h3>
            <div class=".row-cols-3">
            {% for member in members%}
                {% if not member.isLeader%}
                <div class="col">{{profile(member.user)}}</div>
                {% endif %}
                {% else %}
                <p>No Members...I'm sure people will join soon :)</p>
            {% endfor %}
            </div>
        </div>
        <div class="col-4 align-content-center"> 
            <h2 class="text-center my-3">Meetings</h2>
            <hr>
            <div class="container bg-light">
                <div class="row">
                    <button type="button" class="btn btn-light col-1" onclick="prevMonth()">&lsaquo;</button>
                    <h1 class="text-center col-10" id="cal_title"></h1>
                    <button type="button" class="btn btn-light col-1" onclick="nextMonth()">&rsaquo;</button>
                    <hr class="mb-0">
                </div>
                <div class="row row-cols-7 text-center">
                    <div class="col py-2">M</div>
                    <div class="col py-2">T</div>
                    <div class="col py-2">W</div>
                    <div class="col py-2">T</div>
                    <div class="col py-2">F</div>
                    <div class="col py-2">S</div>
                    <div class="col py-2">S</div>
                </div>
                {% for row in range(6) %}
                <div class="row row-cols-7 text-center">
                    {% for col in range(7) %}
                    <div class="col py-2" id="cal{{row}}{{col}}"></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h2 class="text-center my-3">Announcements</h2>
            <hr>
        </div>
    </div>
</div>
<script>
    // Club Calendar Scripting
    d = new Date();
    current_month = d.getMonth() + 1;
    current_year = d.getFullYear();
    months = ["January",
    "February", "March",
    "April", "May","June",
    "July","August","September",
    "October","November","December"]
    cal_title = document.getElementById("cal_title")
    //onLoad func call
    updateCalendar(current_month, current_year)
    //onClick of next month button
    function nextMonth() {
        if (current_month == 12) {
            current_year++;
            current_month = 1;
            
        } else {
            current_month++;
        }
        updateCalendar(current_month, current_year) 
    }
    //onClick of previous month button
    function prevMonth() {
        if (current_month == 1) {
            current_year--;
            current_month = 12;
            
        } else {
            current_month--;
        }
        updateCalendar(current_month, current_year)         
    }
    //general updateCalendar function
    function updateCalendar(month, year) {
        //calls api using fetch, parses json, and fills in calendar
        fetch(`/api/calendar/month_json?month=${month}&year=${year}`, {
            method: 'GET',
            credentials: "same-origin"
        })
        .then((response) => response.json())
        .then((cal_json) => {
            for (let row = 0; row < 6; row++) {
                for (let col = 0; col < 7; col++) {
                    entry = document.getElementById(`cal${row}${col}`)
                    /* calendar formatting is done server-side.
                    json keys are stored as "xy" where x = calendar 
                    row, y = calendar column. */
                    json_val = cal_json[`${row}${col}`]
                    day = json_val['day']
                    isMeeting = json_val['isMeeting']
                    /* If the key is undefined for whatever reason, this
                    will just leave the calendar box blank instead of
                    actually writing the word "undefined" */
                    entry.innerHTML = day !== undefined ? day : ""
                    //Highlight meetings with green background
                    entry.classList.remove("bg-success")
                    if (isMeeting) {entry.classList.add("bg-success")}
                }
            }
            // Change calendar title
            cal_title.innerHTML = `${months[current_month-1]} ${current_year}`
        })
        .catch(error => console.log(error))
    }
</script>
{% endblock content %}