{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title %}ClubHub - {{current_club.name}}{% endblock title %}
<!--for promoting and demoting members-->
{% macro pop_profile(user, isLeader) %}
<a tabindex="0"
   class="text-decoration-none col-1" 
   role="button"  
   data-toggle="popover" 
   data-trigger="focus" 
   placement="bottom"
   title="<b>{{user.fname}} {{user.lname}}</b>" 
   data-bs-content="
   <a class='ms-2 btn border border-1 rounded-1'
   href='/profile/{{user.id}}'>Profile</a>
   {% if isLeader %}
   <a class='ms-2 btn border border-1 rounded-1'
   href='/remove_leader?club={{current_club.id}}&user={{user.id}}'>Remove Leader</a>
   {% else %}
   <a class='ms-2 btn border border-1 rounded-1'
   href='/add_leader?club={{current_club.id}}&user={{user.id}}'>Make Leader</a>
   {% endif %}">
   <div class="userimg rounded-circle fs-6 text-black shadow-sm">
       {{user.fname[0] + user.lname[0]}}
   </div>
</a>
{% endmacro %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h2 class="mt-3">
                {{current_club.name}}
                {% if isClubLeader %}
                <a class="text-decoration-none ms-1" 
                href="/edit_club?club={{current_club.id}}">✎</a>
                {% endif %}
            </h2>
            <hr>
            <p class="text-break">{{current_club.desc}}</p>
            <h3>Leaders</h3>
            <div class="row row-cols-3">
            {% for leader in leaders%}
                {% if isClubLeader %}
                {{pop_profile(leader.user(), true)}}
                {% else %}
                <div class="col-1">{{profile(leader.user())}}</div>
                {% endif %}
                {% else %}
                <p class="text-break">No Leaders... is this Anarchy Club?</p>
            {% endfor %}
            </div>
            <h3>Members</h3>
            <div class="row row-cols-3">
            {% for member in members%}
                {% if not member.isLeader%}
                {% if isClubLeader %}
                {{pop_profile(member.user(), false)}}
                {% else %}
                <div class="col-1">{{profile(member.user())}}</div>
                {% endif %}
                {% endif %}
                {% else %}
                {% if isClubLeader %}
                <p>No Members...I'm sure people will join soon :)</p>
                {% else %}
                <p>No Members...you can always join :)</p>
                {% endif %}     
            {% endfor %}
            </div>
            <div class="mt-3">
                {% if not isClubMember %}
                <a class="btn btn-light"
                href="/join_club?club={{current_club.id}}">Join Club</a>
                {% else %}
                <a class="btn btn-light"
                href="/leave_club?club={{current_club.id}}">Leave Club</a>
                {% endif %}
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 align-content-center">
            <h2 class="text-center my-3">Meetings</h2>
            <hr>
            <div class="container bg-light shadow-lg">
                <div class="row">
                    <button type="button" class="btn btn-light col-1" onclick="prevMonth()">&lsaquo;</button>
                    <h1 class="text-center col-10" id="cal_title"></h1>
                    <button type="button" class="btn btn-light col-1" onclick="nextMonth()">&rsaquo;</button>
                    <hr class="mb-0">
                </div>
                <div class="row row-cols-7 text-center">
                    <div class="col py-2">M</div>
                    <div class="col py-2">T</div>
                    <div class="col py-2">W</div>
                    <div class="col py-2">T</div>
                    <div class="col py-2">F</div>
                    <div class="col py-2">S</div>
                    <div class="col py-2">S</div>
                </div>
                {% for row in range(6) %}
                <div class="row row-cols-7 text-center">
                    {% for col in range(7) %}
                    <div class="col py-2 px-1">
                        <button type="button"
                        class="w-100 h-100 btn m-0"
                        id="cal{{row}}{{col}}"
                        data-bs-toggle="modal"
                        data-bs-target="#Modal{{row}}{{col}}">
                        </button>
                    </div>
                    <div class="modal fade" id="Modal{{row}}{{col}}" tabindex="-1" role="dialog" 
                    aria-labelledby="ModalLabel{{row}}{{col}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content bg-light">
                            <div class="modal-header border-secondary">
                              <h5 class="modal-title" id="ModalLabel{{row}}{{col}}"></h5>
                            </div>
                            <div class="modal-body" id="ModalContent{{row}}{{col}}">
                            </div>
                            <div class="modal-footer border-secondary">
                                {% if isClubLeader %}
                                <a id="modal-aml{{row}}{{col}}" class="btn btn-light"
                                href="/add_meeting?club={{current_club.id}}">Add Meeting</a>
                                {% endif %}
                              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <h2 class="text-center my-3">Announcements</h2>
            <hr>
            <b>Work In Progress...</b>
        </div>
    </div>
</div>
<script>
    // Club Calendar Scripting
    const isLeader = !(document.getElementById("modal-aml00") == null)
    let addMeeting_baseURL = ""
    if (isLeader) {
        addMeeting_baseURL = document.getElementById("modal-aml00").href
    }
    let d = new Date();
    let current_month = d.getMonth() + 1;
    let current_year = d.getFullYear();

    // for turning 3 (March) to 03
    function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
    }

    //4, 2, 2022 -> "04022022"
    function mmddyyyy(m, d, y) {
        return [
            padTo2Digits(m),
            padTo2Digits(d),
            y,
        ].join('');
    }

    //onLoad func call
    updateCalendar(current_month, current_year)

    //onClick of next month button
    function nextMonth() {
        if (current_month === 12) {
            current_year++;
            current_month = 1;

        } else {
            current_month++;
        }
        updateCalendar(current_month, current_year) 
    }
    //onClick of previous month button
    function prevMonth() {
        if (current_month === 1) {
            current_year--;
            current_month = 12;
            
        } else {
            current_month--;
        }
        updateCalendar(current_month, current_year)         
    }
    //general updateCalendar function
    function updateCalendar(month, year) {
        //"Yeah, React might have been a better idea" -Sean

        document.querySelectorAll('[data-toggle="tooltip"]').forEach(e => e.tooltip())
        //calls api using fetch, parses json, and fills in calendar
        fetch(`/api/calendar/month_meetings?club={{current_club.id}}&month=${month}&year=${year}`, {
            method: 'GET',
            credentials: "same-origin"
        })
        .then((response) => response.json())
        .then((cal_json) => {
            // Change calendar title
            const months = ["January",
            "February", "March",
            "April", "May","June",
            "July","August","September",
            "October","November","December"]
            let cal_title = document.getElementById("cal_title")
            let month_name = months[current_month-1]
            cal_title.innerText = `${month_name} ${current_year}`
            // Change every day's data
            for (let row = 0; row < 6; row++) {
                for (let col = 0; col < 7; col++) {
                    let entry = document.getElementById(`cal${row}${col}`)
                    /* calendar formatting is done server-side.
                    json keys are stored as "xy" where x = calendar 
                    row, y = calendar column. */
                    let json_val = cal_json[`${row}${col}`]
                    let day = json_val['day']
                    let isMeeting = json_val['isMeeting']
                    let meetingNames = json_val['names']
                    let meetingDescriptions = json_val['descriptions']
                    let meetingTimes = json_val['times']
                    let uids = json_val['uids']
                    /* If the key is undefined for whatever reason, this
                    will just leave the calendar box blank instead of
                    actually writing the word "undefined" */
                    entry.innerText = day !== undefined ? day : ""
                    //Highlight meetings with green background
                    entry.classList.remove("bg-success")
                    entry.disabled = !day

                    let modalLabel = document.getElementById(`ModalLabel${row}${col}`)
                    let modalContent = document.getElementById(`ModalContent${row}${col}`)

                    if (day) {
                        if (isLeader) {
                            document.getElementById(`modal-aml${row}${col}`).href = `\
                        ${addMeeting_baseURL}&day=${mmddyyyy(current_month, day, current_year)}`
                        }
                        
                        if (isMeeting) {
                            entry.classList.add("bg-success")
                            // Change Modal Title
                            let meetingNum = meetingNames.length
                            // Ex. "1 meeting on January 1, 1970"
                            let title = `${meetingNum} \
                            ${meetingNum > 1 ? "meetings" : "meeting"} \
                            on ${month_name} ${day}, ${current_year}`
                            modalLabel.innerText = title
                            //Change Modal Content
                            modalContent.innerHTML = ""
                            for (let e = 0; e < meetingNum; e++) {
                                //Parent Div
                                let meetingDiv = document.createElement("div")
                                //Meeting Header
                                let meetingHeader = document.createElement("b")
                                meetingHeader.innerText = meetingNames[e] + ": " + meetingTimes[e]
                                meetingDiv.appendChild(meetingHeader)
                                //Meeting Description
                                let meetingDescription = document.createElement("p")
                                meetingDescription.className = "mb-0"
                                meetingDescription.innerText = meetingDescriptions[e]
                                meetingDiv.appendChild(meetingDescription)
                                //Button Controls for Leaders
                                if (isLeader) {
                                    //Edit Meeting Button
                                    let editMeetingButton = document.createElement("a")
                                    editMeetingButton.innerText = "✎"
                                    editMeetingButton.className = "btn btn-light"
                                    editMeetingButton.href = 
                                    `/edit_meeting?club={{current_club.id}}&uid=${uids[e]}`
                                    meetingDiv.appendChild(editMeetingButton)

                                    //Remove Meeting Button
                                    let deleteMeetingButton = document.createElement("a")
                                    deleteMeetingButton.innerText = "❌"
                                    deleteMeetingButton.className = "btn btn-light"
                                    deleteMeetingButton.href = 
                                    `/delete_meeting?club={{current_club.id}}&uid=${uids[e]}`
                                    meetingDiv.appendChild(deleteMeetingButton)
                                }
                                //Add everything to the modal
                                modalContent.appendChild(meetingDiv)
                            }
                        } else {
                            let title = `No meetings on \
                            ${month_name} ${day}, ${current_year}`
                            modalLabel.innerText = title
                            modalContent.innerHTML = ""
                        }
                    }
                }
            }
        })
        .catch(error => console.log(error))
    }
</script>
{% endblock content %}
