<!--The login page of Clubhub, child of base.html-->
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        function password_show_hide() {
            let x = document.getElementById("password-form");
            let show_text = document.getElementById("show");
            let hide_text = document.getElementById("hide");
            hide_text.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_text.style.display = "none";
                hide_text.style.display = "block";
            } else {
                x.type = "password";
                show_text.style.display = "block";
                hide_text.style.display = "none";
            }
        }
    </script>
{% endblock head %}
{% block title %}ClubHub - Login{% endblock title %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            Invalid Form, Please Try Again
        </div>
    {% endif %}
    <div class="bg-lavinia"></div>
    <div class="position-absolute text-center" style="top: 85%; left: 0; right: 0; margin: auto;">
        <a class="bg-dark p-1 my-1 text-decoration-none text-white">Art by Lavinia Wang</a>
    </div>
    <div class="w-100 h-100 row align-items-center justify-content-center form-with-bg">
        <form action="/login?next={{ next }}" class="col-lg-6 py-2 px-3 bg-opacity-50 bg-light shadow-lg rounded-1" method="POST">
            {{ form.hidden_tag() }}
            <label for="email">Email</label>
            <div class="form-group my-2">
                {% for error in form.email.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.email(size=30, class="form-control border-dark")}}
            </div>
            <label for="password" class="p-0">Password</label>
            <div class="form-group my-2 row mx-0">  
                {% for error in form.password.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                <div class="col-10 p-0">
                    {{form.password(size=30, id="password-form", class="form-control border-dark", **{'type': 'password'})}}
                </div>
                <div class="col-2 border border-dark bg-white rounded-1 d-flex" style="cursor: pointer;" onclick="password_show_hide();">
                    <p class="my-auto mx-auto" id="show">Show</p>
                    <p class="d-none my-auto mx-auto" id="hide">Hide</p>
                </div>
            </div>
            <div class="form-group my-2">
                {{form.remember_me()}}
                <label for="remember_me">Remember Me</label>
            </div>
            <input type ="submit" class="btn btn-lg btn-primary my-2 shadow-sm" value = "Log In" />
        </form>
    </div>
{% endblock content %}