{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}ClubHub - {{profile_user.fname}} {{profile_user.lname}}{% endblock %}
{% block content %}
{% macro big_profile(user)%}
    <div class="profilephoto rounded-circle text-black mt-3">{{user.fname[0] + user.lname[0]}}</div>
{% endmacro %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/profile.css') }}>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-12 text-center">
            {{big_profile(profile_user)}}
            <div class="display-5 mt-2">
                {{profile_user.fname + " " + profile_user.lname}}
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h3 class="mt-3">is a member of...</h3>
            <hr>
            {% for user_club in user_clubs %}
            {% if not user_club['isLeader'] %}
            <div class="row mt-2">
                <a href="/club/{{user_club['club'].id}}" 
                class="text-decoration-none display-6">{{user_club['club'].name}}</a>
            </div>
            {% endif %}
            {% else %}
            {% if profile_user == current_user %}
            <div class="row text-center">
            <p>You're currently not a member of any clubs...</p>
            <p class="mb-0">Why not
            <a class="text-decoration-none" href="/club/1">join our club?</a>
            </p> 
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-4 col-sm-12">
            <h3 class="mt-3">is a leader of...</h3>
            <hr>
            {% for user_club in user_clubs %}
            {% if user_club['isLeader'] %}
            <div class="row mt-2">
                <a href="/club/{{user_club['club'].id}}" class="text-decoration-none display-6">{{user_club['club'].name}}</a>
            </div>
            {% endif %}
            {% else %}
            {% if profile_user == current_user %}
            <div class="row text-center">
            <p>You're currently not leading any clubs...</p>
            <p class="mb-0">Why not
            <a class="text-decoration-none" href="/register_club">create your own club?</a>
            </p> 
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}