{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}ClubHub - {{profile_user.fname}} {{profile_user.lname}}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/profile.css') }}>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{big_profile(profile_user)}}
            <div style="text-align: center;">
                {{profile_user.fname + " " + profile_user.lname}}
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h3>
                    is a member of...
                </h3>
                {% for user_club in user_clubs %}
                {% if not user_club['isLeader'] %}
                <a href="/club/{{user_club['club'].club_id}}">{{user_club['club'].name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h3>
                    is a leader of...
                </h3>
                {% for user_club in user_clubs %}
                {% if user_club['isLeader'] %}
                <a href="/club/{{user_club['club'].id}}">{{user_club['club'].name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}