{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title %}Club Hub - Register{% endblock title %}
{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger">
    Invalid Form, Please Try Again
    </div>
    {% endif %}
    <div class="form-group-lg container">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="fname">First Name</label>
                {% for error in form.fname.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.fname(size=30, class="form-control", placeholder="John")}}
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                {% for error in form.lname.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.lname(size=30, class="form-control", placeholder="Smith")}}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {% for error in form.email.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.email(size=30, class="form-control", placeholder="@friendscentral.org")}}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {% for error in form.password.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.password(size=30, class="form-control", **{'type': 'password'})}}
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                {% for error in form.password_confirm.errors %}
                    | <span class="alert-danger">{{ error }}</span>
                {% endfor %}
                {{form.password_confirm(size=30, class="form-control", **{'type': 'password'})}}
            </div>
            <input type ="submit" class="btn btn-lg btn-primary" value = "Register" />
        </form>
    </div>
{% endblock content %}